@import "../variables.scss";
.text-input-wrapper {
  padding-top: 10px;
  padding-bottom: 22px;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.text-input-label {
  margin-bottom: 8px;
}

.text-input-input {
  padding: 10px;
  border-radius: 10px;
}

.text-input-error {
  color: red;
  padding: 5px;
  font-size: 12px;
  position: absolute;
  left: 1px;
  bottom: 0px;
}

.text-input-error2 {
  color: red;
  padding: 5px;
  font-size: 12px;
}
