@import "./variables.scss";
.form-button2 {
  background-color: $background-color;
  color: $text-color;
  height: 35px;
  border-radius: 10px;
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.form-button2:hover {
  color: $title-color;
}

.button-wrapper {
  padding-top: 10px;
  padding-bottom: 20px;

  width: 100%;
  display: flex;
  flex-direction: column;
}
