@import "./variables.scss";

.user-page {
  min-width: 1000px;
  width: 100%;
}
.user-table {
  margin-top: 40px;
  display: flex;
  flex-direction: column;

  column-gap: 10px;
  row-gap: 10px;
}
.user-header {
  height: 50px;
  width: 100%;
  border-radius: 10px;
  padding: 15px 30px;

  display: grid;
  grid-template-columns: 220px 200px 220px 220px 64px;
  align-self: center;
}

.user-row {
  height: 50px;
  width: 100%;
  border-radius: 10px;
  padding: 5px 30px;
  background-color: $background-color2;
  display: grid;
  grid-template-columns: 220px 200px 220px 220px 64px;
  align-self: center;
}

.user-cell {
  margin: 0 5px;
  display: flex;
  align-items: center;
  white-space: nowrap; // zeby nie zawijanie tekstu i był w jednej linii
  overflow: hidden; //to co wychodzi poza komórkę jest niewidoczne
}

.action-cell {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
